/*
Style guide
title font family: Inder
body font family: Anek Devanagari (200, 300, 400regular, 500, 600)
ink: #011936
dust: #465362
blood orange:#ef3e36 rgb(239, 62, 54) dark variant:#df1e15 #e91c13
pool: #17bebb
shiny: #f4fffd
blurple: #6f4be0
*/

body {
  font-family: 'Anek Devanagari', sans-serif;
  color: #465362;
  box-sizing: border-box;
}

.container {
  padding: 50px 15px;
  box-sizing: border-box;
  margin: 0 auto;
}

header {
  background-color: #011936;
  padding: 10px;
  box-sizing: border-box;
  -webkit-box-shadow: 0 4px 5px 0 rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0 4px 5px 0 rgba(50, 50, 50, 0.75);
  box-shadow: 0 4px 5px 0 rgba(50, 50, 50, 0.75);
  position: fixed;
  width: 100%;
}

.logo {
  width: 50px;
  float: left;
}

#work {
  margin-top: 30px;
}

#work .row {
  margin: 25px 0; /* 25px margin top and bottom, 0 left and right */
  box-sizing: border-box;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 15px 15px 30px;
  border-radius: 5px;
}

#work h3 {
  margin-top: 15px;
}

#hero {
  display: block;
  background-color: #f8f6f9;
}

#hero .container {
  padding: 100px 30px 30px;
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto;
}

#hero h1 {
  text-align: center; /* center text */
  box-sizing: border-box;
  color: #011936;
}

#hero span {
  display: block;
  padding: 30px;
}

#story {
  background-color: #f8f6f9;
}

#testimonials [class*="col-"] {
  margin: 15px auto;
  box-sizing: border-box;
  padding: 5px;
  display: block;
}

#testimonials .tile {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  padding: 15px;
}

.illustration {
  width: 80%;
  max-width: 300px;
  box-sizing: border-box;
}

.skill-subsection {
  margin: 45px 0;
}

.skill-subsection ul li {
  margin: 10px 0;
}

.tools {
  list-style-type: none;
  text-align: center;
  padding-left: 0;
}

.tools li {
  display: inline-block;
}

.iconify {
  font-size: 50px;
  color: #5840e2;
}

nav {
  box-sizing: border-box;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav > ul > li {
  box-sizing: border-box;
}

nav > ul > li > a {
  padding: 0 15px; /* 0 on top and bottom, 15px left and right */
  text-transform: uppercase;
  font-weight: 600;
  color: #f4fffd;
  text-decoration: none;
}

.navtoggle li:not(:last-child) {
  display: none; /* Hide all navigation elements except for hamburger icon in mobile view */
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .hamburgericon {
  position: absolute;
  right: 0;
  top: 5px;
  font-size: 30px;
  padding-right: 5px;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 20px 0;
  border-top: 1px solid rgba(239, 62, 54, 0.2);
  text-align: center;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

main {
  padding: 65px 0 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Inder', sans-serif;
  color: #011936;
  font-size: 2em;
  box-sizing: border-box;
  text-align: center;
}

h2 {
  font-family: 'Inder', sans-serif;
  color: #011936;
  font-size: 1.25em;
  box-sizing: border-box;
  text-align: center;
  margin-top: 45px;
}

h3 {
  color: #011936;
  margin-top: 45px;
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  display: block;
  box-sizing: border-box;
  border-color: #e91c13;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  background-color: #011936;
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.2s;
}

.button:hover {
  background-color: #5840E2;
  color: white;
  font-weight: 500;
  font-size: 18px;
}

.icon {
  display: inline-block;
  width: 50px;
}

img {
  width: 100%;
}

picture {
  width: 50%;
  margin: auto;
}

.headshot {
  display: block;
  width: 80%;
  height: auto;
  border-radius: 400px;
  margin-right: auto;
  margin-left: auto;
}

footer {
  box-sizing: border-box;
  display: block;
  background-color: #011936;
  padding: 1% 5%;
  color: #f4fffd;
  text-align: center;
}

.contact-icon-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.contact-icon-list li {
  display: inline-block;
}

footer .container {
  background-color: unset;
}

.footer-title {
  color: #f4fffd;
  text-align: center;
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

.top-left-corner {
  color: #f4fffd;
  font-family: 'Anek Devanagari', sans-serif;
  float: left;
  display: inline-block;
  margin: 15px 15px 10px;
}

.snippet {
  color: #011936;
}

.quote {
  line-height: 2;
  opacity: 70%;
}

.colleague {
  display: block;
  text-align: right;
  font-weight: 600;
  color: #011936;
  padding: 20px;
}

/* Medium devices (640px and larger) */
@media only screen and (min-width: 640px) {
  body {
    font-size: 18px;
  }

  header {
    text-align: unset;
  }

  nav {
    width: auto;
    float: right;
  }

  nav > ul {
    margin: 1em 0;
  }

  nav > ul > li {
    display: inline-block;
    box-sizing: border-box;
  }

  .navtoggle.responsive nav {
    padding: 0;
  }

  .navtoggle.responsive li {
    padding: 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  main {
    padding-top: 76px;
  }

  [class*="col-"] {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
    overflow: auto;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #hero {
    height: 550px;
  }

  .illustration {
    width: 80%;
    max-width: 315px;
    box-sizing: border-box;
  }
}

/* large devices (1024px and larger) */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .col-lg-4 {
    width: 33.33%;
  }

  .col-lg-8 {
    width: 66.66%;
  }

  #hero {
    height: 450px;
  }

  .illustration {
    height: 400px;
    width: auto;
    box-sizing: border-box;
  }

  #hero h1 {
    font-size: 42px;
  }
}

/* Extra large devices (1440px and larger) */
@media only screen and (min-width: 1440px) {
  #hero h1 {
    font-size: 48px;
  }
}

@keyframes color-change {
  from { fill: #edc655; }
  to { fill: #f76414; }
}

@keyframes cloud-move {
  from { transform: translate(0, 50px); }
  to { transform: translate(200px, 50px); }
}

@keyframes cloud-move-reverse {
  from { transform: translate(446px, 48px); }
  to { transform: translate(100px, 48px); }
}
