/*
Style guide
title font family: Inder
body font family: Anek Devanagari (200, 300, 400regular, 500, 600)
ink: #011936
dust: #465362
blood orange:#EF3E36 dark variant:#DF1E15
pool: #17BEBB
shiny: #F4FFFD
*/

/*
Raft style guide
title font family: PoetsonOne
body font family: Trebuchet MS
midnight: #1E2F97
ocean: #1AA7EC
coral: #1AA7EC
*/

/* Layout Styling */
.container{
  padding: 0 15px;
  box-sizing: border-box;
  max-width: 1200px;
}

header{
  background-color: #F4FFFD;
  padding: 10px;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 4px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 4px 5px 0px rgba(50, 50, 50, 0.75);
  position: fixed;
  width: 100%;
  text-align: center;
}

.logo{
  box-sizing: border-box;
  width: 200px;
  display: inline-block;
  padding: 10px;
  margin: auto;
}

#work .row{
  margin: 25px 0; /*25px margin top and bottom, 0 left and right*/
  box-sizing: border-box;
}

#hero{
  background-color: #F4FFFD;
  padding: 30px;
  box-sizing: border-box;
}

#hero h1{
  margin 0;
  text-align: center; /*center text*/
  box-sizing: border-box;
}

nav{
  display: inline-block;
  box-sizing: border-box;
}

nav > ul{
  list-style-type: none;
  padding: 0;
  box-sizing: border-box;
}

nav > ul > li{
  display: inline-block;
  box-sizing: border-box;
}

nav > ul > li > a{
  padding:0 15px; /*0 on top and bottom, 15px left and right*/
  text-transform: uppercase;
  font-weight: 600;
  color:#011936;
}

body{
  font-family: 'Anek Devanagari', sans-serif;
  color: #465362;
  box-sizing: border-box;
}

main{
  padding-top: 110px;
  box-sizing: border-box;
}

h1{
  font-family: 'Inder', sans-serif;
  color: #011936;
  box-sizing: border-box;
}

h2, h3{
  font-family: 'Inder', sans-serif;
  color: #EF3E36;
  box-sizing: border-box;
}

a{

}

a:active{
  background-color: #DF1E15;
  border-radius: 5px;
  padding: 10px;
  color: white;
  text-decoration: none;
  font-weight:500;
}

.button{
  display: inline-block;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  border-color: #EF3E36;
  border-radius: 5px;
  padding: 10px;
  color: #EF3E36;
  text-decoration: none;
  font-weight: 400;
}

.button:hover{
  background-color: #EF3E36;
  border-radius: 5px;
  padding: 10px;
  color: white;
  text-decoration: none;
  font-weight:500;
}

.icon{
  display: inline-block;
  width: 50px;
}

img{
  width: 100%;
}

footer{
  box-sizing: border-box;
  background-color: #011936;
  padding: 1% 5%;
  color: #F4FFFD;;
}

footer > h2{
  color: #F4FFFD;
}

/*Medium devices (640px and larger)*/
@media only screen and (min-width: 640px){

}
/*large devices (1024px and larger)*/
@media only screen and (min-width: 1024px){

}
/*Extra large devices (1440px and larger)*/
@media only screen and (min-width: 1440px){

}
