/*
Style guide
title font family: Inder
body font family: Anek Devanagari (200, 300, 400regular, 500, 600)
ink: #011936
dust: #465362
blood orange:#EF3E36 dark variant:#DF1E15
pool: #17BEBB
shiny: #F4FFFD
*/

/*
Raft style guide
title font family: PoetsonOne
body font family: Trebuchet MS
midnight: #1E2F97
ocean: #1AA7EC
coral: #1AA7EC
*/

body
{
  font-family: 'Anek Devanagari', sans-serif;
  color: #465362;
}

h1
{
  font-family: 'Inder', sans-serif;
  color: #011936;
}

h2, h3
{
  font-family: 'Inder', sans-serif;
  color: #EF3E36;
}

a /*link styling*/
{
  border-style: solid;
  border-width: 1px;
  border-color: #EF3E36;
  border-radius: 5px;
  padding: 10px;
  color: #EF3E36;
  text-decoration: none;
  font-weight: 400;
}

a:hover
{
  background-color: #EF3E36;
  border-radius: 5px;
  padding: 10px;
  color: white;
  text-decoration: none;
  font-weight:500;
}

a:active
{
  background-color: #DF1E15;
  border-radius: 5px;
  padding: 10px;
  color: white;
  text-decoration: none;
  font-weight:500;
}

.icon
{
  width: 50px;
}

img
{
  width: 100%;
}
